target/
!.mvn/wrapper/maven-wrapper.jar

.mvn/timing.properties
.mvn/wrapper/maven-wrapper.properties
dependency-reduced-pom.xml
release.properties

.idea/
*.iml
*.ipr
*.iws
out/

.idea/**/workspace.xml
.idea/**/tasks.xml
.idea/**/dictionaries
.idea/**/shelf/
.idea/**/dataSources/
.idea/**/dataSources.ids
.idea/**/sqlDataSources.xml
.idea/**/dynamic.xml
.idea/**/uiDesigner.xml
.idea/**/dbnavigator.xml
.idea/**/gradle.xml
.idea/**/libraries
.idea/**/modules.xml

.DS_Store
Thumbs.db

*.log
*.tmp
*.bak
*.swp
*.swo
*.orig

*.class
*.jar
*.war
*.ear
hs_err_pid*
replay_pid*

surefire-reports/
failsafe-reports/

.vscode/